<h1>Upload de Planilhas</h1>

<% if flash[:notice] %>
    <p style="color: green;"><%= flash[:notice] %></p>
<% end %>

<%= form_with url: spreadsheets_path, local: true, multipart: true do |form| %>
    <p>
        <%= form.label :file, "Selecione a Planilha" %>
        <%= form.file_field :file %>
    </p>
    <p>
        <%= form.submit "Processar Planilha" %>
    </p>
<% end %>

<h2>Exportar Dados</h2>
<div style="display: flex; gap: 10px;">
    <%= form_with url: export_xlsx_spreadsheets_path, local: true do |form| %>
        <%= form.submit "Exportar para XLSX" %>
    <% end %>
    <%= form_with url: export_csv_spreadsheets_path, local: true do |form| %>
        <%= form.submit "Exportar para CSV" %>
    <% end %>
</div>
    